*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
title{
    font-size: xx-large;
    font-family: serif;
    margin-left: 0%;
}

.banner{
    width: 100%;
    height:100%;
    background-image:linear-gradient(rgba(92, 46, 88, 0.75),#2b1854),url(purplebg.jpg);
    background-size:cover;
    background-position:center;
}
.banner2{
    width: 100%;
    height:100%;
    background-image:linear-gradient(rgba(251, 254, 255, 0.75),#2b1854),url(purplebg.jpg);
    background-size:cover;
    background-position:center;
}
body{
    background-color:#2b1854;
    text-align: center;
} 
.box{
    color: rgb(246, 246, 247);
    background-color:transparent;
    width: 1330px;
    height:1000px;
    border: 10px solid rgb(75, 4, 75);
    padding: 40px;
    margin: 10px;}
.box2{
    color: rgb(0, 0, 0);
    background-color:transparent;
    width: 1330px;
    height: 1000px;
    border: 10px solid rgb(34, 2, 34);
    padding: 40px;
    margin: 10px;}
.box3{
    color: rgb(243, 238, 243);
    background-color:transparent;
    width: 1330px;
    height: 100%;
    border: 10px solid #220222;
    padding: 40px;
    margin: 10px;}
    
.navigationbar{
    width:85%;
    margin:auto;
    padding: 35px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.logoposition{
    width: 300px;
    cursor:pointer;
    height: 70px;
}
button{
    width:200px;
    padding: 15px 0;
    text-align: center;
    margin:20px 10px;
    border-radius: 25px;
    font-weight:bold;
    border:2px solid #d3beaf;
    background:rgba(92, 46, 88, 0.75);
    color:#fff;
    cursor:pointer;
    position:relative;
    overflow:hidden;
}
span{
    background:#ebbed8;
    height:100%;
    width:0;
    border-radius:25px;
    position:absolute;
    left:0;
    bottom:0;
    z-index:-1;
    transition:0.5s;
}
button:hover span{
    width:100%
}
button:hover{
    border:none;
}



    
